.film-list-item {
    cursor: pointer;
    &:hover {
        background-color: rgba(122, 131, 136, 0.1);
    }
}

.film-list {
    padding: 20px;
    background-color: rgb(231, 234, 241);
    
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

